/** CSS STYLE **/

:root {
  --white: "#fff";
  --half-white: "#d7ccc0";
  --light: "#f5f4f0";
  --main-color: "#fe8a02";
  --main-dark-color: "#42413c";
  --dark: "#2a2626";
  --half-dark: "908d8b";
  --brown: "b09a81";
  --blue: "1085c5";
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #2a2626
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

body > section {
  max-width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}


.hello {
  display: block;

  color: #fff;
}
