/** fonts **/

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

/* basis */

:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --half-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > * {
  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: 'Neucha', sans-serif;
  font-weight: normal;
  color: var(--dark);
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  padding: 0;
  margin: 0;
}

.orange {
  color: var(--main-color);
}

.white {
  color: var(--white);
}

.bg-image {
  position: relative;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light);
  opacity: 0.9;
}

.bg-image-brown-bg {
  position: relative;
}

.bg-image-brown-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--brown);
  opacity: 0.9;
}

.btn {
  margin-top: 25px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  height: 49px;
  line-height: 0;
  width: 148px;
  color: var(--white);
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.btn:hover {
  background: #EA7600;
}

.title>h1 {
  position: relative;
  z-index: 20;
}

.hero-img {
  z-index: 10;
  position: absolute;
  height: 525px;
  right: -164px;
  top: 55px;
}

.columns {
  display: flex;
}

.marg180 {
  margin-top: 180px;
}

.columns>div {
  padding-right: 30px;
  flex-basis: 540px;
  flex-shrink: 0;
}



.center {
  text-align: center;
}

.pad30 {
  padding-top: 30px;
}

.video {
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

.dark-bg {
  background-color: var(--main-dark-color);
}

.container-video {
  position: relative;
  margin-bottom: 430px;
}

.doublepad {
  padding-top: 180px;
}

.frames {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p52 {
  font-size: 52px
}

.frame {
  margin-top: 20px;
  height: 323px;
  width: 350px;
}

.bigheight {
  height: 348px;
}

.card {
  background: var(--white);
}

.frame>div {
  padding: 24px;
}

.frame>div>h1 {
  font-size: 64px;
  margin: 0;
  padding: 0 0 40px 0;
  line-height: 1;
}

.card:hover {
  color: var(--white);
  background: var(--main-color);
}

.card:hover>div>p {
  color: var(--white);
}

.card:hover>div>h1 {
  color: var(--white);
}

.frame:hover>div>h3 {
  color: var(--white);
}

.frames-link {
  text-decoration: none;
  color: var(--dark);
}

.content-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  width: 578px;
  margin-bottom: 100px;
  height: 434px;
}

.w {
  width: 502px;
}

.filled-header {
  width: 1110px;
  text-transform: uppercase;
  text-align: left;
  background: var(--brown);
  height: 26px;
  margin-bottom: 20px;
}

.filled-header>h3 {
  padding-left: 10px;
  color: var(--white);
  line-height: 2em;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.neucha-regular {
  font-family: 'Neucha', sans-serif;
}

.block-title {
  line-height: 28.8px;
  margin: 0;
  font-size: 24px;
  color: var(--half-dark);
}

.block-header {
  font-size: 60px;
  line-height: 72px;
}

.block-description {
  font-size: 34px;
  line-height: 40.8px;
}

.columns>div>p {
  padding: 0;
  margin: 0;
}

.brown-bg {
  color: var(--white);
}

.block-title.white {
  line-height: 28.8px;
  margin: 0;
  font-size: 24px;
  color: var(--half-white);
}

.block-header.white {
  font-size: 60px;
  line-height: 72px;
  color: var(--white);
}

.block-description.white {
  font-size: 34px;
  line-height: 40.8px;
  color: var(--white);
}

.white-bg {
  background: var(--white);
}

.white-bg>h3 {
  color: var(--brown);
}

.form>div>h3 {
  color: var(--white);
}

.form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: var(--dark);
  color: var(--white);
  width: calc(100% - 55px * 2);
  height: 190px;
  align-items: center;
  padding-left: 55px;
  padding-right: 55px;
}

.left {
  width: 393px;
  flex-basis: 393px;
}

form {
  display: flex;
  justify-content: left;
  align-items: start;
}

input {
  border: none;
  width: 385px;
  height: 50px;
  padding: 0 15px;
}

.img-button {
  position: relative;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  height: 50px;
  line-height: 0;
  width: 70px;
}

.img-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('../img/Vector.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.img-button:hover {
  background: #EA7600;
}

.email {
  padding-top: 0;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 9px;
}

.license {
  font-size: 12px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.contacts {
  margin-top: 60px;
  text-align: center;
}

.contacts > p > a {
  color: var(--blue);
}

.rules {
  color: var(--white);
}
