/** fonts **/

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

/* basis */

:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --half-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: 'Neucha', sans-serif;
  font-weight: normal;
  color: var(--dark);
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  padding: 0;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}

.orange {
  color: var(--main-color);
}

.bg-image {
  position: relative;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light);
  opacity: 0.9;
}

.title>h1 {
  position: relative;
  z-index: 20;
}

.hero-img {
  z-index: 10;
  position: absolute;
  height: 525px;
  right: -164px;
  top: 55px;
}

.columns {
  margin-top: 180px;
  display: flex;
  font-size: 16px;
}

.columns>div {
  padding-right: 30px;
  flex-basis: 540px;
  flex-shrink: 0;
}

.btn {
  margin-top: 25px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  height: 49px;
  line-height: 0;
  width: 148px;
  color: var(--white);
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.btn:hover {
  background: #EA7600;
}
